/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 16px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================= */

html{
  background: #E5E5E5 url("../img/header-image.jpg") no-repeat scroll top;
  background-size: auto 289px;
  background-repeat: repeat-x;
  font-family: 'Montserrat', sans-serif;
}
body{
  max-width: 940px;
  margin: 0 auto;
  background-color: #EEEEEE;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif; 

}

h2 {
    text-align: center;
    font-size: 1em;
    letter-spacing: 2.5px;
    /*margin-right: -2.5px;*/
    color: #4D4D4D;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
}

/*NAV BAR*/

header {
  position: relative;
  margin-top: 243px;
  margin-bottom: 90px;
  background-color: #FFFFFF;
}

header nav {
  display: block;
  width: auto; height: 75px;
}



nav a {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
}

header .nav-link {
  width: 18.35%; height: 100%;
  padding-top: 28.5px;
  color: #080808;
  letter-spacing: 2.5px;
  vertical-align: top;
  text-align: center;
}

nav .nav-link:hover span{
  border-bottom: 3px solid black;
}

nav a span{
  padding-left: 2.5px;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  border-bottom: 0px solid transparent;
  transition: 400ms;
  -webkit-transition: 400ms;
}


.logo {
  position: relative;
  width: 26.6%;
  margin: 0;
  padding: 0;
  top: -125px;
}

.logo img {
  width: 100%;
}

/*BANDS*/

.bands div{
  width: 43.617%;
  float: left;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
  margin-left: 4.256%;
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.bands div img{
  max-width: 100%;
  height: auto; 

}

.bands div:hover{
  opacity: .9;
  }

.bands div span{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.875em;
  letter-spacing: 5px;
  margin-right: -5px;
}

h2:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7.9787%;
  height: 5px;
  background-color: white;
  margin-right:1.48936%;
}
h2:after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7.9787%;
  height: 5px;
  background-color: white;
  margin-left: 1.27659%;
}

/*ABOUT*/
section.about{
  padding-top: 54px;      
}
.about article{
  width: 48.9%;
  letter-spacing: 0;
  margin: 0 auto;
  font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 30px;
  text-align: center;
}
.about h2{
  padding-top: 54px;
}
.banner {
  width: auto;
  height:250px;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: 200ms;
  -webkit-transition: 200ms;
}

section.about, section.listen,section.buy {
  padding-bottom: 125px;
}
.listen .banner {
  background-image: url("../img/listen.jpg");
}

.buy .banner {
  background-image: url("../img/listen.jpg");
}
.circle {
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 36.1702%;
  padding-bottom: 36.1702%;
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: black;
  margin: 0 auto;
  position: relative;
  top: -50px;
}
.circle .circle-text {
  width: 100%;
  position: absolute;
  top: 90px;
  text-align: center;

}
.circle h3{
  float:left;
  line-height:35px;
  width:100%;
  font-size: 1.875em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 6px;
  display: inline;
  margin-left: 1px;
  font-weight: 800;
  color:white;
}

footer{
  position: absolute;
  left: 0;
  right: 0;
  background: #E5E5E5 url("../img/footer-image.jpg") repeat-x scroll bottom;
  height: 114px;
  width: 100%;
}
.footer{
  height: 60px;
  color: white;
  margin: 54px auto 0 auto;
  width: 940px;

}

.footer span{
  display:inline-block;
  font-size: .75em;
  width: 69.1489%;
  line-height: 2.5em;
  float: left;
  opacity: .8;
  cursor: default;

}
.social{
  display: inline-block;
  float: right;
  font-size: 1.5625em;
  vertical-align: top;
  margin-right: 12px;
}
.social a{
  color: white;
  text-decoration: none;
}
.social a:first-child{
  margin-right: 25px;
}
.social i{
  transition: 200ms ease-in;
  -webkit-transition: 200ms ease-in;
  opacity: .7;
}
.social i:hover{
  opacity: 1;
}

.banner:hover{
  opacity: .9;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1280px) {
    body{
        max-width: 860px;
        /*max-width: 940px;*/
    }
    .about article{
        width: 53%;
    }
    nav a{
      width: 17.34648990631%;
    }
    .logo{
      background-size: 100%;
    }
    .footer{
      width: 860px;
      height: 49.40425px;
      margin: 49.40425px auto 0 auto;
    }
}



@media only screen and (max-width:860px){
  .small-clearfix:before,
  .small-clearfix:after {
      content: " ";
      display: table;
  }

  .small-clearfix:after {
      clear: both;
  }

  .small-clearfix {
      *zoom: 1;
  }
  html{
    margin-top: 115px;
    background: none;
    background-size: 50%;
    font-size: 12px;
  }

  body{
    width: 100%;
  }
 
  header{
    width: 90%;
    height: 67px;
    margin: 0 auto;
  }

  header nav {
    padding: 0 5%;
    height: 100%;
  }

  header .nav-link {
    display: inline-block;
    width: 25%; height: 100%;
    margin:0;
    padding: 0;
    padding-top: 33px;
    font-size: 12px;
    line-height: 0.3;
  }

  header .nav-link span{
    height: 100%;
    padding: 0; /* fix for letter-spacing */
    line-height: 0;
  }

  .logo{
    display: block; position: absolute;
    width: 125px;
    left: 50%; top:  -100px;
    margin-left: -63px;
    z-index: 1;
   }

  .bands{
    margin: 0 auto;
    z-index:2;
  }
  .bands h2{
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .bands div{
    width: 100%;
    margin: 0;
  }
  .bands img{
    width: 100%;
    box-sizing: border-box;
    border: 15px solid white;
    margin-bottom: 15px;
  }
  .bands div:last-child img{
    margin-bottom: 0px;
  }
  .about article{
    width: 75%;
  }
  .about h2{
    padding-top: 30px;
  }
  section.about{
    margin-top: 20px;
  }
  section.about{
    padding-bottom: 50px;
  }
  section.listen, section.buy{
    padding-bottom: 1em;
  }
  .dash{
    visibility: hidden;
  }
  .circle{
    height: 100%;
    width: 100%;
    top: -20px;
    height: 110px;
    background-color: transparent;
    padding-bottom: 0;
  }
  .circle .circle-text{
    padding: 10px 0;
    opacity: 1;
    font-size: .78em;
    top: 1.5em;
  }
  .banner{
    height: 110px;
    width: 75%;
    margin: 0 auto;
      }
  .banner h3{
    line-height: 1.5em;
    margin-right: -1.5em;
  }
  .footer{
    width:80%;
  }
  footer{
    margin-top: 75px;
  }
  .footer span{
  margin-top:.1em;
  line-height: 1.5em;
  }
}

@media only screen and (max-width:480px){
    .circle .circle-text{
      top: .7em;
    }
    .footer span{
      margin-top:0 ;
      line-height: 1em;
    }
  }
@media only screen and (max-width:321px){
  html {
    margin-top: 85px;
  }
  header{
    height: 40px;

  }
  header .nav-link{
    font-size: 8px;
    padding-top: 20px;
  }

  header .logo{
    width: 80px;
    margin-left: -40px;
    top: -70px;
  }

  .bands span{

     letter-spacing: .1em;
  }

.circle .circle-text{
    top: -.3em;
  }

  .banner .circle-text h3{

    letter-spacing: .1em;
    line-height: 1.3em;
  }
  .buy{
    margin-top: -40px;
  }
  .social{
    margin-right: 6px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 860px) {
  .bands{
    /*width: 99%;*/
  }
    .bands div{

    width: 43.617%;
    
    margin-left: 4.256%;
  }

  .bands div img:nth-child(even){
  }

  .bands img{
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 30px;
  }
  .about{
    margin-bottom: 90px;
  }
  .listen{
    margin-bottom: 20px;
  }
  .banner .circle-text{
    top: 15px;
  }
  .footer span{
  margin-top:.5em;
  }

}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

 /*==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

   ==========================================================================
   Print styles
   ========================================================================== 

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}