/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 16px;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================= */

html{
  background: #E5E5E5 url("../img/header-image.jpg") no-repeat scroll top;
  background-size: auto 289px;
  background-repeat: repeat-x;
  font-family: 'Montserrat', sans-serif;
}
body{
  max-width: 940px;
  margin: 0 auto;
  background-color: #EEEEEE;
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif; 

}

h2{
    text-align: center;
    font-size: 1em;
    letter-spacing: 2.5px;
    /*margin-right: -2.5px;*/
    color: #4D4D4D;
}

/*NAV BAR*/

header{
  position: relative;
    background-color: #FFFFFF;

}

nav{
  margin: 243px auto 90px auto;
  width: auto;
  height: 75px;
  display: block;
  margin-left: 5px;
}



nav a{
  display: inline-block;
  width:160px;
  color: #080808;
  letter-spacing: 2.5px;
  /*margin-left: 5px;*/
  margin: 0 auto;
  padding: 0;
  vertical-align: top;
  text-align: center;
  height: 100%;
  margin-bottom: 0;
  padding-top: 28.5px;
  text-decoration: none;
}

/*nav a:nth-child(3){
    position: absolute;
    left: 50px;
}*/
nav a:first-child{
  padding-left: 1%;

  /*margin-right: -2.5px;*/
}
nav a:last-child{
  padding-right: 1%;
}
/*
nav a:nth-child(3){
  margin-left: .4%;
}*/


.logo{
  background: url("../img/logo.png");
  background-repeat:no-repeat;
  height: 250px;
  width:250px;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  top: -125px;

}

/*BANDS*/


.bands div{
    width: 43.617%;
    float: left;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 40px;
    margin-left: 4.256%;
    position: relative;
    transition: 200ms ease-in-out;
}

.bands div img{
    max-width: 100%;
    height: auto; 

}


/*.bands div a span{
  transition: 500ms;
  }
.bands div:hover a span{
  -webkit-transform: scale(1.8);
}*/

.bands div:hover{
  opacity: .9;
  }

.bands div span{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.875em;
    letter-spacing: 5px;
    margin-right: -5px;
    /*
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);*/
}

h2:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7.9787%;
  height: 5px;
  background-color: white;
  margin-right:1.48936%;
}
h2:after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 7.9787%;
  height: 5px;
  background-color: white;
  margin-left: 1.27659%;
}
/*.band-1{
    background-image: url("../img/thewet.jpg")
}
.band-2{
    background-image: url("../img/fleshpanthers.jpg")
}
.band-3{
    background-image: url("../img/dumpsterbabies.jpg")
}
.band-4{
    background-image: url("../img/thebingers.jpg")
}
.band-5{
    background-image: url("../img/theman.jpg")
}
.band-6{
    background-image: url("../img/hollowmountain.jpg")
}
.band-7{
    background-image: url("../img/therubs.jpg")
}
.band-8{
    background-image: url("../img/sueves.jpg")
}*/

/*bands section clearfix*/
/*.bands:after {
    content: "";
    display: table;
    clear: both;
}
*/
/*ABOUT*/
section.about{
    padding-top: 54px;
}

.about article{
    width: 48.9%;
    letter-spacing: 0;
    margin: 0 auto;
    /*padding: 0;*/
    font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 30px;
    text-align: center;
}

.about h2{
  padding-top: 54px;
}

.banner{
  width: auto;
  height:250px;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  transition: 200ms;
}

section.about, section.listen,section.buy{
    padding-bottom: 125px;

}


.listen .banner{
  background-image: url(../img/listen.jpg);
}

.buy .banner{
  background-image: url(../img/buy.jpg);
}

.circle{
  transition: 200ms;
  width: 36.1702%;
  padding-bottom: 36.1702%;
  display: block;
  border-radius: 50%;
  -moz-border-radius: 50%; 
  -webkit-border-radius: 50%; 
  border-radius: 50%;
  background: black;
  margin: 0 auto;
  position: relative;
  top: -50px;
}

.circle .circle-text{
  width: 100%;
  position: absolute;
  top: 90px;
  text-align: center;

}
.circle h3{
    float:left;
    line-height:35px;
    width:100%;
    font-size: 1.875em;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 6px;
    display: inline;
    margin-left: 1px;
    font-weight: 800px;
    color:white;

}

footer{
    position: absolute;
    left: 0;
    right: 0;
    background: #E5E5E5 url("../img/footer-image.jpg") repeat-x scroll bottom;
    height: 114px;
    width: 100%;
}

.footer{
  height: 60px;
  color: white;
  margin: 54px auto 0 auto;
  width: 940px;

}

.footer-copy{
  width: 740px;
  height: 9px;
  background-image: url("../img/footer-copy.png");
  background-size: 100% 100%;
  repeat: no-repeat;
  float: left;
}

.footer span{
  display:block;
}

  .banner:hover{
    opacity: .9;
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1280px) {
    body{
        max-width: 860px;
        /*max-width: 940px;*/
    }

    .about article{
        width: 53%;
    }

    nav{

      height: 75px;
    }
    nav a{
      width: 146.2px;
    }
    .logo{
      height: 228.7234px;
      width: 228.7234px;
      background-size: 100%;
    }
    .footer{
      width: 850px;
      height: 49.40425px;
      margin: 49.40425px auto 0 auto;
    }
    .footer-copy{
     width: 677.021279px;
     height: 8.23404px;
    }
}



@media only screen and (max-width:860px){
  .small-clearfix:before,
  .small-clearfix:after {
      content: " ";
      display: table;
  }

  .small-clearfix:after {
      clear: both;
  }

  .small-clearfix {
      *zoom: 1;
  }
  html{
    margin-top: 115px;
    background: none;
    background-size: 50%;
    font-size: 12px;
  }
  header{
    width: 90%;
    margin: 0 auto;
  }
  body{
    width: 100%;
  }
  nav{
    width:90%;
    height: 30px;
    text-align: center;
    position: none;
    margin-left: 0;
    margin: 30px auto 0px auto

  }

  nav a{
    display: inline;
    width: 25%;
    float: left;
    margin:0;
    padding-top: 0;
    height: 12px;
    font-size: 12px;
    margin-bottom: 25px;
  }
  nav a:first-child{
    padding-left:0%;
  }
  nav a:last-child{
    padding-right:0%;
  }

.logo{
  width: 100%;
  height: 125px;
  margin-bottom: -205px;
  clear: all;
  float: none;
  position: absolute;
  left: 0;
  top:  -100px;
  background-size:  125px 125px;
  background-position: center top;
  z-index: 1;
/*  pointer-events: none;
  cursor: default;*/
 }

  .bands{
    margin: 0 auto;
    z-index:2;
  }
  .bands h2{
    padding-top: 35px;
    padding-bottom: 30px;
  }

  .bands div{
    width: 100%;
    margin: 0;

  }

  .bands img{
    width: 100%;
    box-sizing: border-box;
    border: 15px solid white;
    margin-bottom: 15px;
  }
    .bands div:last-child img{
      margin-bottom: 0px;
    }
  .about article{
    width: 75%;
  }

  .about h2{
  padding-top: 30px;
}
  

  section.about{
    margin-top: 20px;
  }
  section.about{
    padding-bottom: 50px;
  }
  section.listen, section.buy{
    padding-bottom: 1em;
 }

 .about-text{

    /*line-height:2em;*/
 }
 .dash{
  visibility: hidden;
 }
  .circle{
    top: -20px;
    height: 110px;
    background-color: transparent;
  }
  .circle .circle-text{
    padding: 10px 0;
    opacity: 1;
    font-size: .78em;
    top: 0px;
  }

  .banner{
    height: 110px;
    width: 75%;
    margin: 0 auto;
      }

  .banner h3{
    line-height: 1.5em;
    margin-right: -1.5em;
  }
  .circle {
    height: 100%;
    width: 100%;
  }
.banner .circle-text{
    top: .5em;

  }

  .footer{
    width:100%;
  }
  footer{

    margin-top: 75px;
  }
  .footer-copy{
    display: none;
  }
}

@media only screen and (max-width:340px){
  nav a{
    font-size: 10px;
  }

.bands span{

    letter-spacing: .1em;
}

.banner .circle-text{
    top: -.5em;
  }

  .banner .circle-text h3{

    letter-spacing: .1em;
    line-height: 1.3em;
  }
  .buy{
    margin-top: -40px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 860px) {
  .bands{
    /*width: 99%;*/
  }
    .bands div{

    width: 43.617%;
    
    margin-left: 4.256%;
  }

  .bands div img:nth-child(even){
  }

  .bands img{
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-bottom: 30px;
  }
  .about{
    margin-bottom: 90px;
  }
  .listen{
    margin-bottom: 20px;
  }

}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

 /*==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

   ==========================================================================
   Print styles
   ========================================================================== 

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}